@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'General Sans', sans-serif;
}

@media screen and (max-width: 427px) {
    .job_menu {
        position: fixed;
        top: 60px;
        left: 0;
    }

    .open_container {
        width: 80%;
        height: 100%;
        position: absolute;
        top: 48px;
        right: 0;
        padding: 24px;
        animation: expandWidth 0.4s forwards;
    }

    @keyframes expandWidth {
        from {
            width: 0;
        }

        to {
            width: 80%;
        }
    }

    .actions_menu {
        position: fixed;
    }
}